@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050A;
  color: #E2E8F0;
  font-family: sans-serif;
  overflow-x: hidden; /* Чтобы не скроллилось горизонтально на мобилках */
}

/* Скрываем скроллбар, но оставляем функционал */
::-webkit-scrollbar { width: 0px; background: transparent; }